# -------------------------------------------------------------------------
# 1. Build Outputs and Artifacts
# -------------------------------------------------------------------------
*.hex
*.bin
*.elf
*.s19
*.map
*.lst
*.dis
*.sym

*.o
*.obj
*.d
*.i
*.su
*.gdb

# -------------------------------------------------------------------------
# 2. STM32CubeIDE
# -------------------------------------------------------------------------
.metadata/

.cproject
.project
.settings/

Debug/
Release/
build/
*.launch
*.history

# -------------------------------------------------------------------------
# 6. CubeMX/CubeProgrammer
# -------------------------------------------------------------------------
*.bak

*.stpr
*.stfl
*.stf*
